  <h1>Contact Form</h1>
  <br>
  <br>
  <form id="registration" name="registration">
    <div>
      <label for="Cont">Contacts:</label>
      <input type="text" id="Cont" name="Cont" v-model="Cont">
      <button @click="register" id="Cont_Sub" name="Cont_Sub" v-model="Cont_Sub" type="button">Submit</button>
    </div>
    <div>
      <label for="Fields">Fields:</label>
      <input type="text" id="Fields" name="Fields" v-model="Fields">
      <button @click="register" id="Fields_Sub" name="Fields_Sub" v-model="Fields_Sub" type="button">Submit</button>
    </div>
    <button @click="register" id="Sub_Sub" name="Sub_Sub" v-model="Sub_Sub" type="button">Submit</button>
  </form>

