<h1>Projects Form</h1>
<br>
<br>
<form id="registration" name="registration">
  <div>
    <label for="Proj">Projects:</label>
    <input type="text" id="Proj" name="Proj" v-model="Proj">
    <button @click="register" id="Proj_Sub" name="Proj_Sub" v-model="Proj_Sub" type="button">Submit</button>
  </div>
  <div>
    <label for="Fields">Fields:</label>
    <input type="text" id="Fields" name="Fields" v-model="Fields">
    <button @click="register" id="Fields_Sub" name="Fields_Sub" v-model="Fields_Sub" type="button">Submit</button>
  </div>
  <button @click="register" id="Sub_Sub" name="Sub_Sub" v-model="Sub_Sub" type="button">Submit</button>
</form>

